@charset "UTF-8";


    footer{
        padding: 64px 20px 80px 20px;
        font-family: var(--fonte);
    }

    footer p{
        padding: 32px 0px;
        font-size: 16px;
        line-height: 150%;
    }

    footer strong{
        font-weight: bold;
    }

    nav a {
        margin-right: 32px;
    }
    .imagem-link{
        transition-duration: 1s;
    }
    #facebook:hover img{
        content: url(../assets/HOVERfacebook.svg);
    }
    #instagram:hover img{
        content: url(../assets/HOVERinstagram.svg);
    }
    #twitter:hover img{
        content: url(../assets/HOVERtwitter.svg);
    }


@media screen and (min-width: 770px) {
    p {
            font-size: 20px;
        }
    
        footer {
            background-image: url(../assets/mainBG/bg2Tablet.png);
            background-repeat: no-repeat;
            background-position: bottom right;
    
            padding-top: 264px;
        }
}


@media screen and (min-width: 1140px) {
    footer{
        padding-left: 0px;
        padding-right: 0px;
        display: flex;

        justify-content: space-around;
        align-items: center;
    }
}

