@charset "UTF_8";

    main{
        background-color: var(--branco);
        

    }


    div.app{
        background-image: url(../assets/mainBG/);
        background-repeat: no-repeat;
        background-position: top center;
        background-color: var(--preto);
        width: 100%;
        display: grid;
        place-items: center;
        
        
    }
    div.app img{
        margin-top: -110px;
        padding-bottom: 50px;
    }


    div.subscription_fee{
        background-color: var(--laranja);
        padding: 48px 20px;
    }

    div h2{
        line-height: 110%;
        font: bold 40px var(--fonte);
    }

    h2 + p{
        padding: 24px 0px 40px 0px;
    }

    div.price{
        display: flex;
    }    

    div.price h3{
        font-weight: bold;
        font-size: 40px;
        line-height: 110%;
    }
    div.price p{
        font-size: 20px;
        line-height: 150%;
    }

    div.butoes{
        margin-top: 48px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

    }

    button{
        border: none;
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        font-size: 18px;
        line-height: 180%;
        border-radius: 12px;
        width: 335px;
        transition-duration: 0.5s;
        
    }

   #btn1{
        margin-bottom: 16px;
        background-color: var(--preto);
        color: var(--branco);
   }
   #btn1:hover{
    color: var(--preto);
    background-color:var(--ciano);
    transform: scale(1.1)
   }

   #btn2{
    background-color: var(--branco);
    color: var(--preto);
    
   }
   #btn2:hover{
    background-color: var(--amarelo);
    transform: scale(1.1);
   }

   

   button img{
    margin-right: 8px;
   }

   
@media screen and (min-width: 770px) {
    main{
        padding: 0px 40px 0px 40px;
      
       
    }

    div.agrupa_main{
        background-image: url(../assets/mainBG/bgTablet.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-color: var(--preto);
        background-size: 46%;

        width: 102%;

        display: flex;
        overflow: visible;

        border-radius: 12px;


    }

    div.app{
        background-image: none;
        background-repeat: repeat;
        background-position: 0 0;
        background-color: transparent;
        width: auto;
        display: block;
        place-items: normal;
    }

    div.app img{
        min-width: 105%;
        min-height: 88%;

        padding: 0px;
        margin: 0px;
        margin-top: -140px;
        margin-left: 35px;
        margin-right: -30px;
    }

    div.subscription_fee {
        padding: 48px 48px;
        margin: 100px 70px -100px -20px;

        min-width: 290px;
        min-height: 570px;
        border-radius: 16px;
    }

    div h2 {
       font-size: 45px;
       font-weight: bolder;
    }

    h2+p{
        font-size: 21px;
    }

    div.price{
        align-items: center;
    }

    div.price h3{
        font-size: 64px;
    }

    div.priece p{
        font-size: 20px;
    }

    button{
        width: 100%;
        height: 130%;
        font-size: 20px;
    }
    div.butoes{
        margin-bottom: 0;
    }

}


@media screen and (min-width: 1440px) {
    main {
        padding: 0px 160px 0px 160px;

        display: grid;
        place-items: center;

    }

    div.agrupa_main {
        background-image: url(../assets/mainBG/bgMainDesktop.png),url(../assets/mainBG/bg2Desktop.png);
        background-position: top center, bottom right;

        background-size: 370px, 550px;
        
        padding-left: 70px;

        min-width: 1110px;
        max-width: 1300px;
    }


    div.app img {
        min-width: 310px;
        min-height: 640px;

        max-width: 400px;
        max-height: 710px;

        margin-top: -140px;
        /* margin-left: 80px;
        margin-right: -30px; */
    }

    div.subscription_fee {
        padding: 56px 56px 15px 56px;
        margin: 100px 64px -130px 230px;

        max-width: 510px;
        max-height: 630px;
    }


}