@charset "UTF-8";
@import url(header.css);
@import url(main.css);
@import url(footer.css);

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root{
    --ciano: #66E2DC;
    --branco: #FCFAF9;
    --amarelo: #FFB964;
    --preto: #191826;
    --laranja: #FA7453;

    --fonte: "IBM Plex Sans", serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--fonte);
}